<div class="row gx-0 justify-content-center">
  <%= render "devise/registrations/form", resource: resource, request_type: 'put', form_type: 'Update' %>
</div>
<%= link_to '< Back', projects_path, class: "nav-btn btn btn-primary col-3 col-lg-2 offset-1 offset-md-3 offset-lg-4" %>
<%= link_to "Delete Account >", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'nav-btn btn btn-danger col-3 col-lg-2 offset-4 offset-md-0' %>
