<div class="row justify-content-center">
  <%= render 'form', project: @project, form_type: "New Project" %>
</div>

<%= link_to '< Back', projects_path, class: "nav-btn btn btn-primary col-3 col-md-2 col-lg-1 offset-md-3 offset-lg-4" %>
