<h1 id="bug_heading", name="<%= @bug_type %>">Editing <%= @bug_type %></h1>

<div class="row justify-content-center">
  <%= render 'form', bug: @bug, project: @project, form_type: "New Bug" %>
</div>

<%= link_to '< Back', project_path(@project), class: "nav-btn btn btn-primary col-3 col-md-2 col-lg-1 offset-md-3 offset-lg-4" %>
