/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "bugs.scss";
 @import "projects.scss";

 body{
  font-family: 'Montserrat', sans-serif;
  form{
    margin-top: 20px;
  }
  thead{
    background-color: rgb(236, 236, 236);
  }
  table{
    text-align: center;
  }
  .row{
    width: 100%;
  }
  .navbar{
    background-color: #0b57c9;
  }
  .nav-link, .navbar-brand{
    color: white;
  }
  .nav-link:hover{
    color: rgb(201, 201, 201);
  }
  .nav-btn{
    // font-size: small;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    border: none;
  }
  a{
    text-decoration: none;
  }
  .form-heading{
    text-align: center;
  }
  .border-radius-5{
    border-radius: 10px;
  }
  .btn-submit{
    width: 100%;
  }
  .btn-cancel{
    width: 100%;
  }
  .table-heading{
    text-align: center;
  }
  .counter{
    text-align: center;
  }
  .count-heading{
    text-align: center;
    display: inline;
    margin-left: auto;
  }
 }
 #target{
  width: auto;
}
#bug-img, #previous-img{
  width: 100%;
  height: auto;
}
#img-bug{
  width: 100%;
  height: auto;
}
#bug_heading{
  display: none;
}
 .datepicker{
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
}
